.category-header {
  padding: 8px 0;
  margin-bottom: 8px;
  border-bottom: 2px solid black;
  width: 100%;
}

.category-header > span {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

select {
  appearance: none;
  outline: 0;
  background: #f1faee;
  flex: 1;
  padding: 0 0.5em;
  color: #262626;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.select {
  position: relative;
  display: flex;
  height: 2.5rem;
  line-height: 2.5;
  background: #f1faee;
  overflow: hidden;
  border-radius: 0.25em;
}

.select::after {
  content: "\25BC";
  position: absolute;
  color: #fff3b0;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #335c67;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #e09f3e;
}
