.category {
  border-radius: 2px;
}

.category-header {
  padding: 8px 0;
  margin-bottom: 8px;
  border-bottom: 2px solid black;
  width: 100%;
}

.category-header > span {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.category-list {
  padding-left: 0;
  list-style: none;
}

.category-item {
  padding: 2px 0;
  margin: 3px 0;
}

.category-item.active {
  font-weight: 600;
  background-color: #e5e5e5;
}

.category-item:active,
.category-item:focus {
  font-weight: 600;
  background-color: #e5e5e5;
}

.category-item {
  position: relative;
  text-decoration: none;
  color: #262626;
  font-size: 1rem;
  transition: right linear 0.1s;
  right: 0;
  display: block;
  padding: 6px 12px;
  border-radius: 2px;
}

.category-item:hover {
  right: -4px;
  background-color: #e5e5e5;
  font-weight: 600;
  cursor: pointer;
  color: #262626;
}


