.card {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  transition: all 0.5s;
  cursor: pointer;
}

.card-img-top {
  width: 75%;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 35%);
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  margin-top: 80px;
}

.main-heading {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 5px;
}

.z-index {
  display: none;
}

.btn-main {
  display: inline-block;
  border: none;
  padding: 4px 10px;
  border: 1px solid #d90429;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #d90429;
  min-width: 150px;
  transition: all 0.5s;
}

.btn-main:hover {
  background-color: #e63946;
}
