.card {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  transition: all 0.5s;
  cursor: pointer;
  min-height: 320px;
}

.card-img-top {
  width: 50%;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 35%);
}

.menu {
  margin-top: 80px;
}

.main-heading {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 5px;
}

.z-index {
  display: none;
}

.btn-main {
  border: none;
  padding: 6px 12px;
  border: 1px solid #d90429;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #d90429;
  max-width: 150px;
  transition: all 0.5s;
}

.btn-main:hover {
  background-color: #e63946;
}

.category {
  border-radius: 2px;
}

.category-header {
  padding: 8px 0;
  margin-bottom: 8px;
  border-bottom: 2px solid black;
  width: 100%;
}

.category-header > span {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.category-list {
  padding-left: 0;
  list-style: none;
}

.category-item {
  padding: 2px 0;
  margin: 3px 0;
}

.category-item.active {
  font-weight: 600;
  background-color: #e5e5e5;
}

.category-item {
  position: relative;
  text-decoration: none;
  color: #262626;
  font-size: 1rem;
  transition: right linear 0.1s;
  right: 0;
  display: block;
  padding: 6px 12px;
  border-radius: 2px;
}

.category-item:hover {
  right: -4px;
  background-color: #e5e5e5;
  font-weight: 600;
  cursor: pointer;
  color: #262626;
}
